.row
.col-12
    %section.my-4
        %h2.text-center #{@county.name}, #{@state.symbol}
    .overflow-hidden.bg-light.text-center.mb-3
    .overflow-auto.py-3
        %svg.d-inline#actionmap-state-counties-view{ version: '1.1', xmlns: 'http://www.w3.org/2000/svg', title:
        "Map of #{@state.name} highlighting #{@county.name}" }
#actionmap-info-box
#actionmap-info-container{ 'data-counties': @county_details.to_json, 'data-state':
@state.to_json, 'data-state-topojson-file': asset_path("states/#{@state[:symbol].downcase}.topo.json") }
= javascript_pack_tag 'county_map', 'data-turbolinks-track': 'reload'

/* Added section to list representatives */
- if @representatives.present?
    .row
        .col-12
            %section.my-4
                %h2.text-center #{@county.name} Representatives
                %table.table.table-striped.table-hover
                    %thead
                        %tr
                            %th Name
                            %th Title
                            %th Party
                            %th Links
                    %tbody
                        - @representatives.each do |rep|
                            %tr
                                %td= link_to rep.name, representative_path(rep)
                                %td= rep.title
                                %td= rep.party
                                %td
                                    = link_to representative_news_items_path(rep.id), class: 'btn btn-primary' do
                                        %i.fas.fa-newspaper
                                        News Articles
- else
    %p.text-center No representatives found for this county.

